extends layout

block content
  a(href="/media/upload") Upload More Files!
  h1='Audio'
  table
    tbody
    thead
      tr
        th(align="left") File Name
        th(align="left") Size
        th(align="left") Type
        th(align="left") Length(ms)
      each row in Datarows
        if row.metadata.contentType == "audio/mpeg"
          tr
            td(align="left")=row.name
            td(align="left")=row.metadata.size
            td(align="left")=row.metadata.contentType

  h1='Video'
  table
    tbody
    thead
      tr
        th(align="left") File Name
        th(align="left") Size
        th(align="left") Type
        th(align="left") Length(ms)
      each row in Datarows
        if row.metadata.contentType == "video/mp4"
          tr
            td(align="left")=row.name
            td(align="left")=row.metadata.size
            td(align="left")=row.metadata.contentType
